name: Run Linters

on:
  workflow_dispatch: # Allow manual execution
  push:
    tags:
      - 'v*' # Trigger on version tags

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go Environment
        uses: actions/setup-go@v5
        with:
          go-version: stable

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest

      - name: Run linters
        run: |
          make lint
        continue-on-error: false
